.DialogBlock{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.FriendsSide{
    display: flex;
    background-color: #f8f8f8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}
.FriendsBlock{
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;
    max-height: 400px;
    overflow: auto;

}  
.FriendsBlock:hover {
        background-color: #a0b9de;
        transition: opacity 0.6s;
        opacity: 0.9;
      }
.FriendsBlock:active {
      background-color: #a0b9de;
      transition: opacity 0.6s;
      opacity: 0.9;
    }

.InputBlock{
    margin-top: auto;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
}