@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, 
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after { 
  background: #F3F3F3;
  padding: 0;
}
.gm-style-iw {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .gm-style-iw > div {
    overflow: visible !important;   
  }
  .infoWindow {
    overflow: hidden !important;
  }

.MuiBackdrop-root{
  background-color: rgba(0, 0, 0, 0.0) !important;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
a {
    outline: none;
    /* color: #000 !important; */
    text-decoration: none
}
.SliderBtn{ 
    position: absolute;
    top: 15vh;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    border: none;
    background-color: blanchedalmond;
    cursor: pointer;
    border-radius: 5px;
}
.SliderImg{
    max-height: 200px; 
    width: 100%;
    height: auto;
}
@media (min-width: 640px) {
  .SliderImg{
    max-width: 400px; 
    min-width: 400px; 
    max-height: 200px; 
    width: 100%;
    height: auto;
}
}
.SliderContainer{
    position: relative;
}
.AuthorizationBtn {
  width: 200px;
  height: 40px;
  text-align: center;
}